$card-bg: #282828;

.card {
    color: #fff;
    background-color: $card-bg;
    text-decoration: none;

    border-radius: 16px;
    transition: scale 350ms;
}

.card-title {
    color: #fceac5;
}

.card:hover {
    scale: 0.99;
}

.card-image {
    width: 100%;
    height: 65%;
    object-fit: cover;
    transition: all 1s;
    border-radius: 16px 16px 0px 0px;
}

.interact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
