$primary: #fae4b4;
$secondary: #3f3f3f;
$body-bg: #121212;
$text: #fff;

@import '~bootstrap/scss/bootstrap.scss';

* {
    color: $text;
}

.button {
    background-color: $primary;
    border: none;
}

a {
    text-decoration: none;
}

.icon {
    height: 16px;
    width: auto;
}

.input,
.input:focus {
    color: $text;
}

.prompt {
    color: #8b8b8b;
}

.form-page {
    justify-content: center;
    transform: translate(0, 10%);
    height: 100vh;
}

.form-row {
    padding-bottom: 16px;
}

// Resource: https://colorffy.com/dark-theme-generator?colors=FAE4B4-121212
