$primary: #bc885d;
$body-bg: #fdf5e6;

@import '~bootstrap/scss/bootstrap.scss';

.button {
    background-color: $primary;
    border: none;
}

a {
    text-decoration: none;
}

.icon {
    height: 16px;
    width: auto;
}
