$primary: #bc885d;
$body-bg: #fdf5e6;

@import '~bootstrap/scss/bootstrap.scss';

.button {
    background-color: $primary;
    border: none;
}

.button:hover {
    background-color: #835f41;
}

a {
    text-decoration: none;
}
